body {
    font-family: Arial, Helvetica, sans-serif ;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: "Calibri";
    font-variant: small-caps;
    color: #666666;
  }

.clickable {
    cursor: pointer;
}
  
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 233, 233);
    /* position fxe de la barre de navigation */
    position: top;
    top: 0;
    left: 0; /* pour éviter le petit décalage de la barre de navigation sur la gauche */
    width: 100%;
}

.navbar > li {
  display: inline;
  float: left;
}

.navbar > li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar > li a:hover {
  background-color: green;
  color: white;
  transition: 300ms;
}
  
.navbar > a {
  display: block;
  padding: 8px;
}

.active {
    background-color: #4d5870;
}
  
.active > a {
    /* !important permet de gérer la priorité. En tant qu'active, la balise a doit avoir du texte blanc */
    color: white !important;
}

.image-container {
    max-width: 900px; /* Largeur fixe de 500px */
    overflow: hidden; /* Empêche le débordement si l'image est plus grande */
}
  
  
.image-container img {
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: auto; /* Conserve les proportions de l'image */
    display: block; /* Supprime l'espace blanc en bas causé par les images inline */
}

form{
    margin-top: 5px;
    margin-bottom: 5px;
}
  